body{
    width: 100%;
    background: url('../img/travel.jpg') no-repeat fixed;
    background-size: 100% 100%;
}
.fondo-azul{
    z-index: 1;
    position: fixed;
    height: 145px;
    width: 100%;
}

.nav >li{
    color: aliceblue;
    float: left;
    padding: 0 12px;
}

.nav li >a{
    color: white;
    display: block;
    padding: 8px;
    background-color: cornflowerblue;
}

.nav li > a:hover{
    background-color: #448aff;
}

.fondo-imagen{
    padding-top: 200px;
}

.row > div >i{
    color: #000000;

    font-size: 44px;
}

.social-icon >li{
    padding: 22px 0;
    text-align: center;
}

.social-icon li >i{
    font-size: 44px;
    color:#fff;
}

.articulo{
    padding: 20px;
    background-color: aliceblue;
}

.articulo >h4{
    font-weight: bold;
}

.col >p{
    font-size: 20px;
}

.info-personal{
    text-align: center;
    margin-top: 12px;
    padding: 20px;
    background-color: aliceblue;
}

@media screen and (max-width:840px){
    puff{
        display: none;
    }
}